---
rules:
  line-length:
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  indentation:
    spaces: consistent
  comments:
    require-starting-space: true
  document-start:
    present: true
  empty-lines:
    max: 1

ignore:
  - .tekton/
