# Code owners for specific directories only
# Other directories follow default repo PR approval settings

/pipelines/ @gbenhaim @ralphbean @twaugh @davidmogar @johnbieren
/tasks/ @gbenhaim @ralphbean @twaugh @davidmogar @johnbieren
/stepactions/ @gbenhaim @ralphbean @twaugh @davidmogar @johnbieren
