---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: apply-mapping
  labels:
    app.kubernetes.io/version: "0.9.1"
  annotations:
    tekton.dev/pipelines.minVersion: "0.12.1"
    tekton.dev/tags: release
spec:
  description: >-
    Tekton task to apply a mapping to a Snapshot. It will override the Snapshot file.
  params:
    - name: snapshotPath
      type: string
      description: Path to the JSON string of the Snapshot spec in the config workspace to apply the mapping to
      default: "snapshot_spec.json"
    - name: releasePlanAdmissionPath
      type: string
      description: |
        Path to the JSON string of the ReleasePlanAdmission in the
        config workspace which contains the mapping to apply
      default: "release_plan_admission.json"
    - name: failOnEmptyResult
      type: string
      description: Fail the task if the resulting snapshot contains 0 components
      default: "false"
  workspaces:
    - name: config
      description: The workspace where the extra config file containing the mapping and snapshot json reside
  results:
    - name: mapped
      type: string
      description: A true/false value depicting whether or not the snapshot was mapped.
  steps:
    - name: apply-mapping
      image:
        quay.io/redhat-appstudio/release-service-utils:447ea0580a2cdd48b4091e1df86fab5c3f86d01c
      script: |
        #!/usr/bin/env sh
        set -eux

        SNAPSHOT_SPEC_FILE="$(workspaces.config.path)/$(params.snapshotPath)"
        RPA_FILE="$(workspaces.config.path)/$(params.releasePlanAdmissionPath)"
        SNAPSHOT_SPEC_FILE_ORIG="${SNAPSHOT_SPEC_FILE}.orig"

        if [ ! -f "${SNAPSHOT_SPEC_FILE}" ] ; then
            echo "No valid snapshot file was found."
            exit 1
        fi

        # Copy the original Snapshot spec file before overriding
        cp "${SNAPSHOT_SPEC_FILE}" "${SNAPSHOT_SPEC_FILE_ORIG}"

        if [ ! -f "${RPA_FILE}" ] ; then
            echo "No ReleasePlanAdmission file was found."
            printf "false" | tee $(results.mapped.path)
            exit 0
        fi

        MAPPING=$(jq '.spec.data.mapping' "${RPA_FILE}")

        if [[ $MAPPING == "null" ]] ; then
            echo "ReleasePlanAdmission Data struct contains no mapping key."
            printf "false" | tee $(results.mapped.path)
            exit 0
        fi

        # Merge the mapping key contents in the ReleasePlanAdmission data with the components key in the snapshot based
        # on component name. Save the output as a compact json in mapped_snapshot.json file in the workspace
        { echo -n $(cat "${SNAPSHOT_SPEC_FILE_ORIG}"); echo "${MAPPING}"; } | jq -c -s '.[0] as $snapshot
          | .[0].components + .[1].components | group_by(.name) | [.[] | select(length > 1)]
          | map(reduce .[] as $x ({}; . * $x)) as $mergedComponents | $snapshot | .components = $mergedComponents' \
          > "${SNAPSHOT_SPEC_FILE}"

        printf "true" | tee $(results.mapped.path)

        if [ "$(params.failOnEmptyResult)" = "true" ] && \
          [ $(cat "${SNAPSHOT_SPEC_FILE}" | jq '.components | length') -eq 0 ]
        then
          echo "ERROR: Resulting snapshot contains 0 components"
          exit 1
        fi
