---
name: Tekton Bundle Push
on:  # yamllint disable-line rule:truthy
  push:
    branches: ['main']
  workflow_dispatch:
env:
  IMAGE_REGISTRY: quay.io
  IMAGE_NAMESPACE: hacbs-release
  REGISTRY_USER: ${{ secrets.QUAY_ROBOT_USER }}
  REGISTRY_PASSWORD: ${{ secrets.QUAY_ROBOT_TOKEN }}
  API_TOKEN: ${{ secrets.QUAY_API_TOKEN }}
jobs:
  run-pipeline:
    name: Tekton Bundle
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2  # using git diff-tree requires fetch depth=2
      - name: Create mock kube config
        run: .github/scripts/mock_kube_config.sh
        shell: bash
      - uses: jerop/tkn@v0.1.0
      - uses: redhat-actions/podman-login@v1
        with:
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          registry: ${{ env.IMAGE_REGISTRY }}
      - name: push tekton bundles
        run: .github/scripts/tkn_push_bundles.sh
        shell: bash
        env:
          GITHUB_SHA: ${{ github.sha }}
          GITHUB_REFNAME: ${{ github.ref_name }}
          IMAGE_REGISTRY: ${{ env.IMAGE_REGISTRY }}
          IMAGE_NAMESPACE: ${{ env.IMAGE_NAMESPACE }}
          QUAY_API_TOKEN: ${{ secrets.QUAY_API_TOKEN }}
